@using LaptopShopOnline.Model.Entities

@model Cart


<tr>
<td>@Model.Product.Name</td>
<td>
    <div class="s-box-square">
        <img class="s-box-square-image" src="@Model.Product.UrlImage" alt="Alternate Text" style="" />
    </div>
</td>
<td>
    <input type="number" name="cart" class="form-control" min="1" value="@Model.Quantity" id="cart-input" data-cart-id="@Model.Id" />
</td>
<td>
    @if (Model.Product.PromotionPrice != null)
    {
    <strike>@Model.Product.Price.ToString(CommonConstants.CurrencyFormat, CommonConstants.VietNamCultureInfo)</strike>
    <span>/</span>
    @Model.Product.PromotionPrice.GetValueOrDefault(0).ToString(CommonConstants.CurrencyFormat, CommonConstants.VietNamCultureInfo)
    }
    else
    {
    @Model.Product.Price.ToString(CommonConstants.CurrencyFormat, CommonConstants.VietNamCultureInfo)
    }
</td>
<td>
    @if (Model.Product.PromotionPrice != null)
    {
        @((Model.Product.PromotionPrice.GetValueOrDefault(0) * Model.Quantity).ToString(CommonConstants.CurrencyFormat, CommonConstants.VietNamCultureInfo))
    }
    else
    {
        @((Model.Product.Price * Model.Quantity).ToString(CommonConstants.CurrencyFormat, CommonConstants.VietNamCultureInfo))
    }
</td>
<td>
    <a href=@Smart.Format(CommonConstants.ROUTE_DON_HANG_THEM_MOI_PARAMS, new {cartId = Model.Id, shopId = "", shouldOrderAll=false}) @*data-id="@item.Product.Id"*@ class="btn-sm btn-success m-1"><i class="fas fa-plus"></i></a>
    <a href=@Smart.Format(CommonConstants.ROUTE_GIO_HANG_XOA_PARAMS, new {cartId = Model.Id, shopId = "", shouldOrderAll=false}) class="btn-sm btn-danger m-1 dialog-link"><i class="fas fa-trash-alt"></i></a>
</td>
</tr>
