@using LaptopShopOnline.Model.Entities

@model Cart


<tr>
    <td>@Model.Product.Name</td>
    <td>
        <div class="s-box-square">
            <img class="s-box-square-image" src="@Model.Product.UrlImage" alt="Alternate Text" style="" />
        </div>
    </td>
    <td>
        @Model.Quantity
    </td>
    <td>
        @if (Model.Product.PromotionPrice != null)
        {
            <strike>@Model.Product.Price.ToString(CommonConstants.CurrencyFormat, CommonConstants.VietNamCultureInfo)</strike>
            <span>/</span>
            @Model.Product.PromotionPrice.GetValueOrDefault(0).ToString(CommonConstants.CurrencyFormat, CommonConstants.VietNamCultureInfo)
        }
        else
        {
            @Model.Product.Price.ToString(CommonConstants.CurrencyFormat, CommonConstants.VietNamCultureInfo)
        }
    </td>
    <td>
        @if (Model.Product.PromotionPrice != null)
        {
            @((Model.Product.PromotionPrice.GetValueOrDefault(0) * Model.Quantity).ToString(CommonConstants.CurrencyFormat, CommonConstants.VietNamCultureInfo))
        }
        else
        {
            @((Model.Product.Price * Model.Quantity).ToString(CommonConstants.CurrencyFormat, CommonConstants.VietNamCultureInfo))
        }
    </td>
</tr>
