@using LaptopShopOnline.WebApp.Models

@model CreateOrderModel
@{
    ViewBag.Title = "Đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/Content/Client/js/Controller/cartController.js"></script>
}


<!--start-breadcrumbs-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="#" onclick="history.back()">Quay lại</a></li>
    </ol>
</nav>
<!--end-breadcrumbs-->


<div class="card shadow my-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
    </div>
    <div class="card-body">
        @if (Model.Carts.Count > 0)
        {
        <div class="">
            @{
                var groupedCarts = Model.Carts.ToLookup(x => x.Product.Shop);
                var ordersCount = groupedCarts.Count;
                var ordersTotal = groupedCarts.Sum(x => x.Sum(x =>
                {
                    if(x.Product.PromotionPrice != null)
                    {
                        return x.Product.PromotionPrice.GetValueOrDefault(0) * x.Quantity;
                    }
                    else
                    {
                        return x.Product.Price * x.Quantity;
                    }
                }));
                foreach (var groupedCart in groupedCarts)
                {
                    <div class="row no-gutters mt-1">
                        <div class="row no-gutters pt-1">
                            <h6>
                                Cửa hàng : @groupedCart.Key?.Name
                            </h6>
                        </div>
                        <table class="pt-1 table-responsive table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-md-6 col-sm-3 col-3">Tên sản phẩm</th>
                                    <th class="col-md-1 col-sm-1 col-1">Ảnh</th>
                                    <th class="col-md-1 col-sm-3 col-3">SL</th>
                                    <th class="col-md-2 col-sm-2 col-2">Đơn giá</th>
                                    <th class="col-md-2 col-sm-2 col-2">Tổng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var cart in groupedCart)
                                {
                                    @Html.Partial("_CartForOrderPartialView", cart)
                                }
                            </tbody>
                        </table>
                    </div>
                }
            }

        <div class="row no-gutters mt-5">
            <div class="cok-md-12">
                Số đơn hàng: @ordersCount
            </div>
            <div class="col-md-12">
                Tổng: @ordersTotal.ToString(CommonConstants.CurrencyFormat, CommonConstants.VietNamCultureInfo)
            </div>
        </div>

            <div class="row no-gutters mt-5">
                @Html.Partial("_CreateOrderPartialView", Model.Order)
            </div>

            <div class="row no-gutters mt-5 d-flex justify-content-start align-items-center">
                <button class="btn mr-1"><a href=@CommonConstants.ROUTE_TRANG_CHU>Tiếp tục mua hàng</a></button>
                <button class="btn mr-1"><a href=@CommonConstants.ROUTE_GIO_HANG_PARAMS>Giỏ hàng</a></button>
                <button class="btn mr-1"><a href=@CommonConstants.ROUTE_DON_HANG_THEM_MOI_PARAMS>Đặt hàng</a></button>
            </div>
        </div>
        }
        else
        {
            <div class="row no-gutters mt-5">
                <span class="alert alert-danger mt-5">Chưa có sản phẩm nào trong giỏ hàng</span>
            </div>
        }
    </div>
</div>