@model LaptopShopOnline.Model.Entities.User

@{
    ViewBag.Title = "Cập nhật Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!--start-breadcrumbs-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="#" onclick="history.back()">Quay lại</a></li>
    </ol>
</nav>
<!--end-breadcrumbs-->
<!-- DataTales Example -->
<div class="card shadow my-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { }))
        {

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.UserGroupId)
            @Html.HiddenFor(model => model.CreatedOn)
            @Html.HiddenFor(model => model.CreatedBy)
            @Html.HiddenFor(model => model.Password)
            Model.ConfirmPassword = Model.Password;
            @Html.HiddenFor(model => model.ConfirmPassword)

            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "" })
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" , @readonly = "readonly", @placeholder = "Tên đăng nhập" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "" })
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" , @placeholder = "Email" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "" })
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" ,  @placeholder = "Họ lót" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "" })
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" , @placeholder = "Tên" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "" })
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control" , @placeholder = "Địa chỉ" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.UserGroupId, htmlAttributes: new { @class = "" })
                @Html.TextBoxFor(model => model.UserGroupId, new { @class = "form-control" ,  @readonly ="readonly"})
            </div>
            <div class="form-group">
                <button type="submit" class="btn-primary btn-group-sm btn-sm">Cập nhật</button>
            </div>
        }
    </div>
</div>


