@model LaptopShopOnline.Model.Entities.User
@{
    ViewBag.Title = "Cập nhật mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!--start-breadcrumbs-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="#" onclick="history.back()">Quay lại</a></li>
    </ol>
</nav>
<!--end-breadcrumbs-->
<!-- DataTales Example -->
<div class="card shadow my-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { }))
        {

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.UserGroupId)
            @Html.HiddenFor(model => model.CreatedOn)
            @Html.HiddenFor(model => model.CreatedBy)
            @Html.HiddenFor(model => model.UserName)
            @Html.HiddenFor(model => model.Email)
            @Html.HiddenFor(model => model.FirstName)
            @Html.HiddenFor(model => model.LastName)
            @Html.HiddenFor(model => model.Address)
            @Html.HiddenFor(model => model.UserGroupId)
            Model.Password = "";

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "" })
            @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = ""})
        </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "" })
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "" })
            </div>

            <div class="form-group">
                <button type="submit" class="btn-primary btn-group-sm btn-sm">Cập nhật</button>
            </div>
        }
    </div>
</div>



