@using LaptopShopOnline.Model.Entities

@model OrderDetail


<tr>
    <td>
        <a href=@Smart.Format(CommonConstants.ROUTE_QUAN_TRI_NGUOI_BAN_SAN_PHAM_CAP_NHAT_PARAMS, new { id = Model.ProductId })>@Model.Product.Name</a>
    </td>
    <td>
        <div class="s-box-square">
            <img class="s-box-square-image" src="@Model.Product.UrlImage" alt="Alternate Text" style="" />
        </div>
    </td>
    <td>
        @Model.Quantity
    </td>
    <td>
        @Model.Price.ToString(CommonConstants.CurrencyFormat, CommonConstants.VietNamCultureInfo)
    </td>
    <td>
        @Model.Total.ToString(CommonConstants.CurrencyFormat, CommonConstants.VietNamCultureInfo)
    </td>
</tr>
