@using X.PagedList
@using X.PagedList.Mvc.Core
@using LaptopShopOnline.Model.Entities

@model IPagedList<Order>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int i = 1;
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                @using (Html.BeginForm(null, null, FormMethod.Get, new { @action = CommonConstants.ROUTE_QUAN_TRI_DON_HANG_PARAMS }))
                {
                    <div class="form-group">
                        @Html.TextBox("SearchString", null, new { @class = "col-md-4 form-control float-left", @value = ViewBag.SearchString })
                        <button type="submit" class="btn btn-secondary ml-1"><i class="fa fa-search"></i></button>
                        <a href=@CommonConstants.ROUTE_QUAN_TRI_DON_HANG_THEM_MOI_PARAMS class="btn btn-group-sm btn-primary text-decoration-none"><i class="fa fa-plus"></i> Thêm mới</a>
                    </div>
                }
                <thead>
                    <tr>
                        <th>
                            STT
                        </th>
                        <th>
                            Tên cửa hàng
                            <a@* href=@Smart.Format(CommonConstants.ROUTE_QUAN_TRI_DON_HANG_SEARCH_PARAMS, new { sortOrder = ViewBag.ShipNameSortParm, page = 1, searchString = ViewBag.SearchString, orderStatus = -1   })*@><i class="fas fa-sort text-dark"></i></a>
                        </th>
                        <th>
                            Tên khách hàng
                            <a@* href=@Smart.Format(CommonConstants.ROUTE_QUAN_TRI_DON_HANG_SEARCH_PARAMS, new { sortOrder = ViewBag.ShipNameSortParm, page = 1, searchString = ViewBag.SearchString, orderStatus = -1   })*@><i class="fas fa-sort text-dark"></i></a>
                        </th>
                        <th>
                            Số điện thoại
                        </th>
                        <th>
                            Địa chỉ
                        </th>
                        <th>
                            Email
                        </th>
                        <th style="width: 10%;">
                            Ngày đặt hàng
                            <a @*href=@Smart.Format(CommonConstants.ROUTE_QUAN_TRI_DON_HANG_SEARCH_PARAMS, new { sortOrder = ViewBag.CreatedOnSortParm, page = 1, searchString = ViewBag.SearchString, orderStatus = -1   })*@><i class="fas fa-sort text-dark"></i></a>
                        </th>
                        <th style="width: 5%">
                            Trạng thái
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td class="text-center">
                            @i
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Shop.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShipName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShipPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShipAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShipEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOn)
                        </td>
                        <td>
                            @((ENUM.OrderStatus)item.OrderStatus).ToString())
                        </td>
                        <td>
                            <a class="btn-sm btn-group-sm btn-success" href=@Smart.Format(CommonConstants.ROUTE_QUAN_TRI_DON_HANG_CAP_NHAT_PARAMS, new { id = item.Id })><i class="far fa-edit"></i></a>
                            <a class="btn-sm btn-group-sm btn-secondary dialog-link" href=@Smart.Format(CommonConstants.ROUTE_QUAN_TRI_DON_HANG_CHI_TIET_PARAMS, new { id = item.Id })><i class="fas fa-info"></i></a>
                            <a class="btn-sm btn-group-sm btn-danger dialog-link" href=@Smart.Format(CommonConstants.ROUTE_QUAN_TRI_DON_HANG_XOA_PARAMS, new { id = item.Id })><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                        i++;
                    }
                </tbody>
            </table>
            @if (Model.Count() <= 0)
            {
                <div class="text-center text-danger">Không có dữ liệu</div>
            }
        </div>
        <div class="text-center">
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) trên @Model.PageCount
            @Html.PagedListPager(Model, page => @Smart.Format(CommonConstants.ROUTE_QUAN_TRI_DON_HANG_SEARCH_PARAMS, new { sortOrder = ViewBag.SortOrder, page = page, searchString = ViewBag.SearchString, orderStatus = -1 }))
        </div>
    </div>
</div>
