@using System.Text.RegularExpressions;

@using LaptopShopOnline.WebApp.Common


@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var userLoginSession = Context.Session.Get<UserLogin>(LaptopShopOnline.Common.CommonConstants.USER_LOGIN_SESSION);
}


@if (userLoginSession != null && Regex.IsMatch(userLoginSession.GroupId, CommonConstants.USER_GROUP_ID_PREFIX_MANAGER))
{

    <div class=" align-items-center justify-content-between mb-4">
        <!--Quản lý người dùng-->
        <h6 class="alert alert-success text-center"><i class="fas fa-users"></i> Quản lý hệ thống</h6>
        <div class="row col-md-12">
            <a href=@CommonConstants.ROUTE_QUAN_TRI_NHOM_NGUOI_DUNG_PARAMS class="col-xl-3 col-md-6 mb-4 text-decoration-none">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-4">
                                <div class="text-sm font-weight-bold text-primary">Nhóm người dùng</div>
                                <div class="text-sm font-weight-bold text-primary">@ViewBag.CountUserGroup</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-layer-group fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href=@CommonConstants.ROUTE_QUAN_TRI_TAI_KHOAN_NGUOI_DUNG_PARAMS class="col-xl-3 col-md-6 mb-4 text-decoration-none">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-4">
                                <div class="text-sm font-weight-bold text-success">Tài khoản người dùng</div>
                                <div class="text-sm font-weight-bold text-success">@ViewBag.CountUser</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="@CommonConstants.ROUTE_QUAN_TRI_QUYEN_PARAMS" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-4">
                                <div class="text-sm font-weight-bold text-info ">Quyền</div>
                                <div class="text-sm font-weight-bold text-info ">@ViewBag.CountRole</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user-tag fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href=@CommonConstants.ROUTE_QUAN_TRI_PHAN_QUYEN_PARAMS class="col-xl-3 col-md-6 mb-4 text-decoration-none">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-4">
                                <div class="text-sm font-weight-bold text-warning ">Phân quyền người dùng</div>
                                <div class="text-sm font-weight-bold text-warning ">@ViewBag.CountCredential</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-pencil-ruler fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>


        <!--Quản lý sản phẩm-->
        <h6 class="alert alert-info text-center"><i class="far fa-newspaper"></i> Quản lý kinh doanh</h6>
        <div class="row col-md-12">
            <a href=@CommonConstants.ROUTE_QUAN_TRI_SAN_PHAM_PARAMS class="col-xl-3 col-md-6 mb-4 text-decoration-none">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-4">
                                <div class="text-sm font-weight-bold text-primary">Sản phẩm</div>
                                <div class="text-sm font-weight-bold text-primary">@ViewBag.CountProduct</div>
                            </div>
                            <div class="col-auto">
                                <i class="fab fa-product-hunt fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href=@CommonConstants.ROUTE_QUAN_TRI_DANH_MUC_SAN_PHAM_PARAMS class="col-xl-3 col-md-6 mb-4 text-decoration-none">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-4">
                                <div class="text-sm font-weight-bold text-success">Danh mục sản phẩm</div>
                                <div class="text-sm font-weight-bold text-success">@ViewBag.CountProductCategory</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-stream fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <!--Quản lý đơn đặt hàng-->
            <a href=@CommonConstants.ROUTE_QUAN_TRI_DON_HANG_PARAMS class="col-xl-3 col-md-6 mb-4 text-decoration-none">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-4">
                                <div class="text-sm font-weight-bold text-primary">Đơn hàng</div>
                                <div class="text-sm font-weight-bold text-primary">@ViewBag.CountOrder</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-list-alt fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a href=@CommonConstants.ROUTE_QUAN_TRI_CUA_HANG_PARAMS class="col-xl-3 col-md-6 mb-4 text-decoration-none">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-4">
                                <div class="text-sm font-weight-bold text-warning">Cửa hàng</div>
                                <div class="text-sm font-weight-bold text-warning">@ViewBag.CountShop</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-store fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>
}


@if (userLoginSession != null && Regex.IsMatch(userLoginSession.GroupId, CommonConstants.USER_GROUP_ID_PREFIX_SELLER))
{

    <div class=" align-items-center justify-content-between mb-4">



        <!--Quản lý sản phẩm-->
        <h6 class="alert alert-info text-center"><i class="far fa-newspaper"></i> Quản lý kinh doanh</h6>
        <div class="row col-md-12">
            <a href=@CommonConstants.ROUTE_QUAN_TRI_NGUOI_BAN_SAN_PHAM_PARAMS class="col-xl-3 col-md-6 mb-4 text-decoration-none">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-4">
                                <div class="text-sm font-weight-bold text-primary">Sản phẩm</div>
                                <div class="text-sm font-weight-bold text-primary">@ViewBag.CountProduct</div>
                            </div>
                            <div class="col-auto">
                                <i class="fab fa-product-hunt fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <!--Quản lý đơn đặt hàng-->
            <a href=@CommonConstants.ROUTE_QUAN_TRI_NGUOI_BAN_DON_HANG_PARAMS class="col-xl-3 col-md-6 mb-4 text-decoration-none">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-4">
                                <div class="text-sm font-weight-bold text-primary">Đơn hàng</div>
                                <div class="text-sm font-weight-bold text-primary">@ViewBag.CountOrder</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-list-alt fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        </div>

    </div>
}