@using LaptopShopOnline.Model.Entities

@model Shop

@{
    ViewBag.Title = "Chi tiết cửa hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--start-breadcrumbs-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="#" onclick="history.back()">Quay lại</a></li>
    </ol>
</nav>
<!--end-breadcrumbs-->

<div class="card shadow my-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
    </div>
    <!--start-single-->
    <div class="card-body">
        <div class="row no-gutters m-4">
            <div class="col-md-12 mt-2">
                <h3>
                    Cửa hàng: @Model.Name
                </h3>
                <p>
                    Ngày tạo: @Model.CreatedOn
                </p>
            </div>
        </div>
        <div class="row no-gutters mt-4">
            <div class="row no-gutters mt-2">
                <p class="text-primary mb-0">
                    Mô tả
                </p>
            </div>
            <div class="row no-gutters mt-2">
                @Html.Raw(@Model.Description)
            </div>
        </div>

    </div>


    <!--end-single-->
</div>
