@model IEnumerable<LaptopShopOnline.Model.Entities.Menu>

@if ((int)ViewBag.Count > 0)
{

    if (ViewBag.IsVerticalSubMenu)
    {
        <ul class="dropdown-menu">

            @foreach (var item in Model)
            {
                <li>
                    <a class="dropdown-item text-dark" href="@item.Link" target="@item.Target">@item.MenuName</a>
                    @await Component.InvokeAsync("SubMenu", item.Id)
                </li>
            }

        </ul>
    }
    else
    {
        <ul class="submenu dropdown-menu">

            @foreach (var item in Model)
            {
                <li>
                    <a class="dropdown-item text-dark" href="@item.Link" target="@item.Target">@item.MenuName</a>
                    @await Component.InvokeAsync("SubMenu", item.Id)
                </li>
            }

        </ul>
    }
}
