@model LaptopShopOnline.Model.Entities.Product

@{
    ViewBag.Title = "Cập nhật sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm(method: FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.CreatedOn)

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-11">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.ShopId, "Mã Shop", htmlAttributes: new { @class = "control-label col-md-6", @readonly = "readonly" })
                <div class="col-md-11">
                    @Html.EditorFor(model => model.ShopId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ShopId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-11">
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-11">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.PromotionPrice, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-11">
                    @Html.EditorFor(model => model.PromotionPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PromotionPrice, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-11">
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.ProductCategoryId, "Loại sản phẩm", htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-11">
                    @Html.DropDownList("ProductCategoryId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProductCategoryId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <div class="col-md-4">
                    <img src="@Model.UrlImage" alt="Image" style="width: 100%;height:auto" />
                </div>
                @Html.LabelFor(model => model.UrlImage, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Image, new { type = "file" })
                    @Html.ValidationMessageFor(m => m.Image)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <div class="col-md-4">
                    <img src="@Model.Sub1UrlImage" alt="Image" style="width: 100%;height:auto" />
                </div>
                @Html.LabelFor(model => model.Sub1UrlImage, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Sub1Image, new { type = "file" })
                    @Html.ValidationMessageFor(m => m.Sub1Image)
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="col-md-4">
                    <img src="@Model.Sub2UrlImage" alt="Image" style="width: 100%;height:auto" />
                </div>
                @Html.LabelFor(model => model.Sub2UrlImage, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.Sub2Image, new { type = "file" })
                    @Html.ValidationMessageFor(m => m.Sub2Image)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-11">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row pt-1">
            <div class="form-group col-md-11">
                <a href=@CommonConstants.ROUTE_QUAN_TRI_NGUOI_BAN_SAN_PHAM_PARAMS class="btn-sm btn-group-sm btn-secondary"><i class="fas fa-angle-left"></i> Trở về</a>
                <button type="submit" class="btn-sm btn-group-sm btn-primary">Cập nhật</button>
                <a href=@Smart.Format(CommonConstants.ROUTE_QUAN_TRI_NGUOI_BAN_SAN_PHAM_XOA_PARAMS, new {id = Model.Id}) class="btn-sm btn-group-sm btn-danger dialog-link">Xóa</a>
            </div>
        </div>
    </div>
}
@section Scripts{
    <script>
        CKEDITOR.replace("Description");
    </script>
}