@model LaptopShopOnline.Model.Entities.Shop

@{
    ViewBag.Title = "Cập nhật sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CreatedBy)
    @Html.HiddenFor(model => model.CreatedOn)
    @Html.HiddenFor(model => model.IsDeleted)

        <div class="form-group col-md-12">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-11">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-12">
            @Html.LabelFor(model => model.SellerId, "Người bán", htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-11">
                @Html.EditorFor(model => model.SellerId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SellerId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-12">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-11">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

    <div class="form-group mt-4 text-right">
        <div class="col-md-offset-2 col-md-11">
            <a href=@CommonConstants.ROUTE_QUAN_TRI_CUA_HANG_PARAMS class="btn-sm btn-group-sm btn-secondary"><i class="fas fa-angle-left"></i> Trở về</a>
            <button type="submit" class="btn-sm btn-group-sm btn-primary">Cập nhật</button>
            <a class="btn-sm btn-group-sm btn-warning" href=@Smart.Format(CommonConstants.ROUTE_QUAN_TRI_SAN_PHAM_SEARCH_PARAMS, new {sortOrder = "", searchString = "", page = 1, productCategoryId = "", shopId = Model.Id})>
               Sản phẩm
            </a>
            <a href=@Smart.Format(CommonConstants.ROUTE_QUAN_TRI_CUA_HANG_XOA_PARAMS, new {id = Model.Id}) class="btn-sm btn-group-sm btn-danger dialog-link">Xóa</a>
        </div>
    </div>
</div>
}


@section Scripts{
    <script>
        CKEDITOR.replace("Description");
    </script>
}