@model IEnumerable<LaptopShopOnline.Model.Entities.Product>

@if ((int)ViewBag.Count > 0)
{
<div class="row no-gutters mt-5">
    <div class="col-md-12"><h6>Sản phẩm xu hướng</h6>></div>
    @{
        foreach (var item in Model)
        {
            <div class="col-md-3 col-sm-6">
                <div class="card border-0 s-product-card pt-2">
                    <div class="s-box-square">
                        <img class="s-box-square-image" src="@item.UrlImage" alt="Card image top">
                    </div>
                    <div class="card-body s-product-card-body text-center">
                        <h5 class="card-title s-product-card-title">@item.Name</h5>
                        <p>
                            @if (item.PromotionPrice > 0)
                            {
                                <span><strike>@(item.Price.ToString(CommonConstants.CurrencyFormat, CommonConstants.VietNamCultureInfo))</strike></span>
                                <br />
                                <span>@(item.PromotionPrice.Value.ToString(CommonConstants.CurrencyFormat, CommonConstants.VietNamCultureInfo))</span>
                            }
                            else
                            {
                                <span>@(item.Price.ToString(CommonConstants.CurrencyFormat, CommonConstants.VietNamCultureInfo))</span>
                            }
                        </p>
                        <div>
                            <a href=@Smart.Format(CommonConstants.ROUTE_SAN_PHAM_CHI_TIET_PARAMS, new { id = item.Id }) class="btn btn-warning pm-1">Chi tiết</a>
                            <input type="number" hidden="hidden" name="cart" class="form-control mr-4" min="1" value="1" id="cart-input" data-product-id="@item.Id" />
                            <button class="btn btn-primary m-1" id="btn-add-cart-input">Thêm giỏ hàng</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
}
