@using X.PagedList
@using X.PagedList.Mvc.Core
@using LaptopShopOnline.Model.Entities

@model IPagedList<User>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Tài khoản người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int i = 1;
}
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @action = CommonConstants.ROUTE_QUAN_TRI_TAI_KHOAN_NGUOI_DUNG_PARAMS }))
                {
                <div class="form-group">
                    @Html.TextBox("SearchString", null, new { @class = "col-md-4 form-control float-left", @value = ViewBag.SearchString })
                    <button type="submit" class="btn btn-secondary ml-1"><i class="fa fa-search"></i></button>
                    <a href=@CommonConstants.ROUTE_QUAN_TRI_TAI_KHOAN_NGUOI_DUNG_THEM_MOI_PARAMS class="btn btn-group-sm btn-primary text-decoration-none"><i class="fa fa-plus"></i>Thêm mới</a>
                </div>
                }
                <thead>
                    <tr>
                        <th style="width: 5%;">
                            STT
                        </th>
                        <th style="width: 15%;">
                            Nhóm
                        </th>
                        <th style="width: 15%;">
                            Tên đăng nhập
                            <a href=@Smart.Format(CommonConstants.ROUTE_QUAN_TRI_TAI_KHOAN_NGUOI_DUNG_SEARCH_PARAMS, new { sortOrder = ViewBag.UserNameSortParm, page = 1, searchString = ViewBag.SearchString   })><i class="fas fa-sort text-dark"></i></a>
                        </th>
                        <th style="width: 15%;">
                            Họ và tên
                        </th>
                        <th style="width: 15%;">
                            Email
                        </th>
                        <th style="width: 10%;">
                            Trạng thái
                        </th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @i
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserGroupId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm dialog-link" href="#", new { id = item.Id })>@(item.IsDeleted ? "Đã xóa" : "Chưa xóa")</a>
                            </td>
                            <td>
                                <a class="btn-sm btn-group-sm btn-success" href=@Smart.Format(CommonConstants.ROUTE_QUAN_TRI_TAI_KHOAN_NGUOI_DUNG_CAP_NHAT_PARAMS, new { id = item.Id })><i class="far fa-edit"></i></a>
                                <a class="btn-sm btn-group-sm btn-secondary dialog-link" href=@Smart.Format(CommonConstants.ROUTE_QUAN_TRI_TAI_KHOAN_NGUOI_DUNG_CHI_TIET_PARAMS, new { id = item.Id })><i class="fas fa-info"></i></a>
                                <a class="btn-sm btn-group-sm btn-danger dialog-link" href=@Smart.Format(CommonConstants.ROUTE_QUAN_TRI_TAI_KHOAN_NGUOI_DUNG_XOA_PARAMS, new { id = item.Id })><i class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
            @if (Model.Count() <= 0)
            {
                <div class="text-center text-danger">Không có dữ liệu</div>
            }
        </div>
        <div class="text-center">
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) trên @Model.PageCount
            @Html.PagedListPager(Model, page => Smart.Format(CommonConstants.ROUTE_QUAN_TRI_TAI_KHOAN_NGUOI_DUNG_SEARCH_PARAMS, new { sortOrder = ViewBag.SortOrder, page = page, searchString = ViewBag.SearchString }))
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var order = {
            init: function () {
                order.registerEvents();
            },
            registerEvents: function () {
                $('.btn-user').off('click').on('click', function (e) {
                    e.preventDefault();
                    var btn = $(this);
                    var id = btn.data('id');
                    $.ajax({
                        url: "/Admin/Users/ChangeStatus",
                        data: { id: id },
                        dataType: "json",
                        type: "POST",
                        success: function (response) {
                            console.log(response);
                            if (response.status == true) {
                                btn.text('Khóa');
                            }
                            else {
                                btn.text('Hoạt động');
                            }
                        }
                    })
                });
            },
        }
        order.init();
    </script>
}