@using LaptopShopOnline.Model.Entities

@model Product

@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--start-breadcrumbs-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="#" onclick="history.back()">Quay lại</a></li>
    </ol>
</nav>
<!--end-breadcrumbs-->

<div class="card shadow my-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
    </div>
    <!--start-single-->
    <div class="card-body">
        <div class="row no-gutters m-4">
            <div class="col-md-5 mt-2 mr-4 border-right">
                <div class="s-box-square">
                    <img class="s-box-square-image" src="@Model.UrlImage" alt="Card image top">
                </div>
            </div>
            <div class="col-md-5 mt-2">
                <h3>
                    @Model.Name
                </h3>
                <p>
                    Cửa hàng: <a href=@Smart.Format(CommonConstants.ROUTE_CUA_HANG_CHI_TIET_PARAMS, new { id = Model.ShopId })>@Model.Shop.Name</a>
                </p>
                @if (Model.PromotionPrice > 0)
                {
                    <p><span class=""><strike>Giá gốc: @(Model.Price.ToString(CommonConstants.CurrencyFormat, CommonConstants.VietNamCultureInfo))</strike></span></p>
                    <p><span>Chỉ còn: @(Model.PromotionPrice.Value.ToString(CommonConstants.CurrencyFormat, CommonConstants.VietNamCultureInfo))</span></p>
                }
                else
                {
                    <p><span>Giá: @(Model.Price.ToString(CommonConstants.CurrencyFormat, CommonConstants.VietNamCultureInfo))</span></p>
                }
                <div class="form-inline">
                    <input type="number" name="cart" class="form-control mr-4" min="1" value="1" id="cart-input" data-product-id="@Model.Id" />
                    <button class="btn btn-group-sm btn-primary text-decoration-none form-control" id="btn-add-cart-input"><i class="fa fa-plus"></i>Thêm giỏ hàng</button>
                </div>
            </div>
        </div>
        <div class="row no-gutters mt-4">
            <div class="row no-gutters mt-2">
                <p class="text-primary mb-0">
                    Hình ảnh mô tả
                </p>
            </div>
            <div class="row no-gutters mt-2">
                @if (Model.Sub1UrlImage != null)
                {
                    <div class="col-md-3 mr-4">
                        <img src="@Model.Sub1UrlImage" class="rounded rounded-lg" style="width: 100%; height: auto;" alt="Alternate Text" />
                    </div>
                }
                @if (Model.Sub2UrlImage != null)
                {
                    <div class="col-md-3 mr-4">
                        <img src="@Model.Sub2UrlImage" class="rounded rounded-lg" style="width: 100%; height: auto;" alt="Alternate Text" />
                    </div>
                }
            </div>
        </div>
        <div class="row no-gutters mt-4">
            <div class="row no-gutters mt-2">
                <p class="text-primary mb-0">
                    Mô tả
                </p>
            </div>
            <div class="row no-gutters mt-2">
                @Html.Raw(@Model.Description)
            </div>
        </div>

    </div>


    <!--end-single-->
</div>

@section Scripts {
    <script type="text/javascript" src="~/Content/Client/js/Client-Product.js"></script>
}